.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.input {
  max-width: 382px;
  width: 100%;
  text-align: left;
}
.input::-moz-placeholder {
  color: #FFAA17;
  opacity: 0.5;
}
.input::placeholder {
  color: #FFAA17;
  opacity: 0.5;
}